[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
pdfplumber = "*"
sqlalchemy = "*"
openpyxl = "*"
alembic = "*"
matplotlib = "*"

[dev-packages]
pylint = "*"
pytest = "*"
black = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"
